<!-- As a heading -->
<nav class="navbar navbar-light bg-light container-fluid">
    <div>
        <a href="" class="navbar-brand mb-0 h1">Reddit</a>
    </div>
    <li>
        <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
    </li>
  </div>
</nav>